@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, sans-serif;
  background-color: #f8fafd;
  scroll-behavior: smooth;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e1ebf0;
  border-radius: 0.2rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2c8eff;
  border-radius: 0.2rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2c7eff;
}
